<div data-ng-init='new()' class='grid'>
  <div class='valley dark-color col-12-12' id='new-expense'>
    <form class='new-user-form center form' method="post" ng-submit="create(user)">
        <div class='fields grid'>
          <div class='field col-12-12'>
            <label for='name'>Nome Completo:</label>
            <input id='name' type="text" ng-model="user.name" required></input>
          </div>
        </div>
        <div class='fields grid'>
          <div class='field col-12-12'>
            <label for='email'>Email: </label>
            <input id='email' type="email" ng-model="user.email" required></input>
          </div>
        </div>
        <div class='fields grid'>
          <div class='field col-12-12'>
            <label for='password'>Senha:</label>
            <input id='password' type="password" ng-model="user.password" required></input>
          </div>
        </div>
        <div class='fields'>
          <div class='field'>
            <button type="submit" class='button right'>Salvar</button>
          </div>
        </div>
    </form>
  </div>
</div>