<div data-ng-init='helloWorld()' class='grid'>
  <div class='new-expense dark-color col-12-12' id='new-expense'>

    <form class='new-expense-form center form' method="post">
      <div class='fields grid'>
        <div class='field col-12-12'>
          <label for='value'>Valor</label>
          <input id='value' type="number"
                            step="0.01"
                            placeholder="10,32"
                            ngPattern="[0-9]+([\.|,][0-9]+)?"
                            ng-model="expense.value" required></input>
        </div>
      </div>

      <div class='fields grid'>
        <div class='field col-12-12' >
          <label for='date'>Data</label>
          <input type="date" id='date' ng-model="expense.date" required></input>
        </div>
      </div>

      <div class='fields grid'>
        <div class='field col-12-12'>
          <label for='category'>Categoria</label>
          <input type="text" id='category' ng-model="expense.category" required></input>
        </div>
      </div>

      <div class='fields'>
        <div class='field'>
          <button class='button right' ng-click="update(user)">Salvar</button>
        </div>
      </div>
    </form>

  </div>
  <div class='reports col-12-12'>
    {{expense.value}}
  </div>
</div>